@keyframes heading {
  0% {
    letter-spacing: normal;
    opacity: 1;
  }
  50% {
    letter-spacing: 2rem;
    opacity: 0.7;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

.animated-heading {
  animation: heading 3s ease-in-out;
}
@keyframes smallSpread {
  0% {
    letter-spacing: normal;
    opacity: 1;
  }
  50% {
    letter-spacing: 0.5rem;
    opacity: 0.7;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

.animate-smallSpread {
  animation: smallSpread 3s ease-in-out;
}