/* Global Styles */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hides scrollbar for Chrome, Safari, and Edge */
}
.no-scrollbar {
  -ms-overflow-style: none; /* Hides scrollbar for Internet Explorer and Edge */
  scrollbar-width: none; /* Hides scrollbar for Firefox */
}
